h1{
    text-align: center;
}
article{
    float: left;
}
#game{
    display: flex;
}
#controls{
    flex: 1 2 10vw;
    margin-left: 80px;
    margin-right: -80px;
    /* border: solid 0.1px black; */
}
#gameArea{
    justify-self: center;
    flex: 5 5 66vw;
    /* border: solid 0.1px red; */
}
#placeholder{
    flex: 6 3 auto;

}
.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: baseline;
}
.container .gameBoard{
    align-self: center;
}
.gameBoard{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}
.gameBoard div {
    width: 20px;
    height: 20px;
    /* border: 0.1px solid orange; */
    box-sizing: border-box;
}
.snake{
    background-color: blue;
}
.apple{
    background-color: red;
}
.popup{
    background-color: gray;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
