h1{
    text-align: center;
}
.container{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: CENTER;
}
.gameBoard{
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}
.gameBoard div {
    width: 20px;
    height: 20px;
    border: 0.1px solid orange;
    box-sizing: border-box;
}
.snake{
    background-color: blue;
}
.apple{
    background-color: red;
}
.popup{
    background-color: gray;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
